.list-group-item
{
  overflow:hidden;  
  position: relative;
  display: block;
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin-top: 3px;
  margin-bottom: 3px;
  text-align: center;
}

