<app-headerbar (newItemEvent)="searchBar($event)"></app-headerbar>

<h2 style="margin-left: 20px; margin-top: 25px;">&nbsp;Add Movie</h2>
<br>
<div>
    <div class="jumbotron">
        <div class="form-group  my-2 my-lg-0">
            <div class="input-group">
                <input type="text" class="form-control" style="justify-content: right;" (keyup.enter)="search($event)"
                    placeholder="Search for title" aria-label="Search" id="searchInput" [(ngModel)]="searchInput"
                    name="searchInput">
                <div class="input-group-append" style="margin-top: 1px; margin-bottom: 1px;">
                    <button class="input-group-text bg-light" type="submit" (click)="search($event)"><i
                            class="fas fa-search"></i></button>
                </div>
            </div>
        </div>
        <br>


        <div class="row">
            <div *ngFor="let m of movies">
                <div class="card border-secondary">
                    <div class="row">

                        <div class="col-md-2">
                            <img style="width:10rem" src="{{m.Poster}}" />
                        </div>
                        <div class="col-md-10">
                            <div class="row">
                                <div class="col-md-12" style="margin-left: 2rem;">
                                    <h5 style="vertical-align: middle">
                                        {{m.Title}}
                                        <span style="font-style: italic;">({{m.Year}})
                                            &nbsp;<a href="https://www.imdb.com/title/{{m.imdbID}}" >
                                                <span class="fab fa-imdb"></span></a>
                                            
                                                &nbsp;<span class="fas fa-plus-square" (click)="addMovieToWatchList(m.imdbID)" onmouseover=""></span>
                                        </span>
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>



    </div>
</div>