<div class="card border-secondary  mb-3" style="width: 20pc;">
    <a href="Movie/{{movie.title}}" class="card-title font-size: 55px"><img src="{{movie.image}}" class="card-img-top"
            alt={{movie.title}}></a>
    <div class="card-body">
        <h5 class="card-title font-size: 55px">
            <a href="Movie/{{movie.title}}" class="card-title font-size: 55px">{{movie.title}}</a>
        </h5>
        <div>
            <h6 class="card-subtitle">
                <i class="fas fa-star"></i>
                {{imdbRating.rating}}
                <div style="float: right;">
                    {{movie.year}}
                </div>
            </h6>
        </div>
        <ul class="list-group list-group-horizontal">
            <div *ngIf="showTags">
                <div *ngIf="movie.tags; else noTags">
                    <div class="card-deck" style="margin-left: 3px; margin-top: 1rem">

                        <div *ngFor="let tag of movie.tags">
                            <li class="list-group-item {{tag}}">{{tag}}</li>
                        </div>
                    </div>
                </div>
            </div>
        </ul>
        <div *ngIf="movie.watched==='hasWatched'; else removeWatched">
            <button type="button" (click)="watch()" class="btn btn-warning btn-block btn-sm">Remove from watched</button>
        </div>
    </div>
</div>

<ng-template #removeWatched>
    <button type="button" (click)="watch()" class="btn btn-secondary btn-block btn-sm">Add to watched</button>
</ng-template>

<ng-template #noTags>
    <div style="height: 57px">
        <br>
    </div>
</ng-template>