<h2 style="margin-left: 20px; margin-top: 25px;">&nbsp;{{movie.title}}</h2>
<br>
<div>
    <div class="jumbotron">
        <div class="card-deck" style=" margin-top: 25px;">
            <app-movie-card [movie]="movie" [showTags]="false"></app-movie-card>

            <!-- Description -->
            <div class="card border-secondary  mb-3">
                <div class="card-body">
                    {{movie.description}}
                    <hr>
                    <b>Director:</b> {{movie.director}}
                    <br><b>Writer:</b> {{movie.writer}}
                    <br><b>Stars:</b> {{movie.stars}}
                    <br><b>Runtime:</b> {{movie.runtime}}
                    <br><b>Release Date:</b> {{movie.releaseDate}}
                    <br><b>Genres:</b> {{movie.genres}}
                    <hr>
                    <h4><b>Box Office</b></h4>
                    <b>Budget:</b> {{movie.budget}}
                    <br><b>Opening Weekend USA:</b> {{movie.openingWeekendUSA}}
                    <br><b>Worldwide Gross:</b> {{movie.worldwideGross}}
                    <hr>
                    <div>
                        <h4 style="display: inline;"><b>Tags</b></h4>
                        &nbsp;<div class="badge badge-pill badge-secondary" style="display: inline;"><i class="fas fa-plus"></i></div>
                    </div>
                    <div class="card-deck" style="margin-left: 3px; margin-top: 1rem">
                        <div *ngFor="let tag of movie.tags" style="display: inline-block; padding: 3px">
                            <div class="list-group-item" style="background: getRandomColor()">{{tag}}</div>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Logger -->
            <div class="card border-secondary mb-3" style="max-width: 25%">
                <app-logger-card [movie]="movie"></app-logger-card>
            </div>
        </div>
    </div>
</div>