<div class="card-body">
    <div class="row">
        <div class="col-sm text-center">
            <button (click)="watch()" type="button" class="btn btn-secondary" style="margin: 3pt" *ngIf="movie.watched==='hasWatched'; else watched">
                <i class="far fa-eye" (click)="watch()"><br>Watch</i>
            </button>
            <button type="button" class="btn btn-outline-secondary" style="margin: 3pt" *ngIf="!movie.liked; else liked">
                <i class="far fa-heart"><br>Like</i>
            </button>
            <button type="button" class="btn btn-outline-secondary" style="margin: 3pt">
                <i class="fas fa-plus"><br>Add</i>
            </button>
        </div>
    </div>
    <hr>
    <div class="col-sm text-center">
        Troy Rating:
        <ngb-rating [(rate)]="troyRate" [max]="5">
            <ng-template let-fill="fill" let-index="index">
                <span class="star" (click)="updateRating('Troy', index+1)" [class.filled]="fill === 100">&#9733;</span>
            </ng-template>
        </ngb-rating>
        <br>
        Al Rating:
        <ngb-rating [(rate)]="alRate" [max]="5">
            <ng-template let-fill="fill" let-index="index">
                <span class="star" (click)="updateRating('Allison', index+1)" [class.filled]="fill === 100">&#9733;</span>
            </ng-template>
        </ngb-rating>
    </div>
    <hr>
    <h4><b>Watch History</b></h4>
    <ul class="list-group list-group-horizontal">
        <div *ngFor="let d of movie.dateWatched">
            <span class="badge badge-pill badge-secondary">{{d | date: 'shortDate'}}</span>
        </div>
    </ul>
    <hr>
    <h4><b>Comments</b></h4>
    <div class="overflow-auto p-3 mb-3 mb-md-0 mr-md-3 " style="max-height: 100px; ">
        <div *ngFor="let c of movie.comments">
            {{c}}
            <hr>
        </div>
        <!-- {{movie.comments}} -->
    </div>

    <br><br>
    <div class="form-group">
        <div style="display: inline">

            <label for="exampleTextarea" style="display: inline"><b>Add Comment</b>
                <div class="dropdown" style="float: right;">
                    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="commentDropdown"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Comment As:
                    </button>
                    <div class="dropdown-menu border-secondary" aria-labelledby="commentDropdown">
                        <a class="dropdown-item" (click)="setCommentAs('Allison')">Allison</a>
                        <a class="dropdown-item" (click)="setCommentAs('Troy')">Troy</a>
                    </div>
                </div>

            </label>
        </div>

        <textarea class="form-control" id="exampleTextarea" rows="3" [(ngModel)]="comment"></textarea>
        <button type="button" class="btn btn-secondary" style="float: right;" (click)="commentSubmit()">
            Submit
        </button>
    </div>

</div>

<ng-template #watched>
    <button type="button" class="btn btn-outline-secondary" style="margin: 3pt">
        <i class="far fa-eye" (click)="watch()"><br>Watch</i>
    </button>
</ng-template>

<ng-template #liked>
    <button type="button" class="btn btn-secondary" style="margin: 3pt">
        <i class="far fa-heart"><br>Like</i>
    </button>
</ng-template>