<div class="card-body">
    <ul class="list-group list-group-flush">
        <li class="list-group-item ">
            <div class="container">
                <div class="row">
                    <div class="col-sm text-center">
                        <button type="button" class="btn btn-outline-secondary" style="margin: 3pt" *ngIf="movie.watched==='notWatched'; else watched">
                            <i class="far fa-eye"><br>Watch</i>
                        </button>
                        <button type="button" class="btn btn-outline-secondary" style="margin: 3pt" *ngIf="!movie.liked; else liked">
                            <i class="far fa-heart"><br>Like</i>
                        </button>
                        <button type="button" class="btn btn-outline-secondary" style="margin: 3pt">
                            <i class="fas fa-plus"><br>Add</i>
                        </button>
                    </div>
                </div>
            </div>
        </li>
        <div class="col-sm text-center">

            <li class="list-group-item">
                Troy Rating:
                <ngb-rating [(rate)]="troyRate" [max]="5">
                    <ng-template let-fill="fill" let-index="index">
                        <span class="star" [class.filled]="fill === 100">&#9733;</span>
                    </ng-template>
                </ngb-rating>
                <br>
                Al Rating:
                <ngb-rating [(rate)]="alRate" [max]="5">
                    <ng-template let-fill="fill" let-index="index">
                        <span class="star" [class.filled]="fill === 100">&#9733;</span>
                    </ng-template>
                </ngb-rating>
            </li>
        </div>
    </ul>
</div>

<ng-template #watched>
    <button type="button" class="btn btn-secondary" style="margin: 3pt">
        <i class="far fa-eye"><br>Watch</i>
    </button>
</ng-template>

<ng-template #liked>
    <button type="button" class="btn btn-secondary" style="margin: 3pt">
        <i class="far fa-heart"><br>Like</i>
    </button>
</ng-template>