<div class="card-body">
    <ul class="list-group list-group-flush">
        <li class="list-group-item ">
            <div class="container">
                <div class="row">
                    <!-- <button type="button" class="btn btn-secondary btn-block btn-sm">Add to watched</button> -->

                    <div class="col-sm text-center">
                        <button type="button" class="btn btn-outline-secondary" style="margin: 3pt">
                            <i class="far fa-eye"><br>Watch</i>
                        </button>
                    <!-- </div> -->
                    <!-- <div class="col-sm text-center"> -->
                        <button type="button" class="btn btn-outline-secondary" style="margin: 3pt">
                            <i class="far fa-heart"><br>Like</i>
                        </button>
                    <!-- </div> -->
                    <!-- <div class="col-sm text-center"> -->
                        <button type="button" class="btn btn-outline-secondary" style="margin: 3pt">
                            <i class="fas fa-plus"><br>Add</i>
                        </button>
                    </div>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            Rate:
            <ngb-rating [(rate)]="currentRate" [max]="5">
                <ng-template let-fill="fill" let-index="index">
                    <span class="star" [class.filled]="fill === 100">&#9733;</span>
                </ng-template>
            </ngb-rating>
        </li>
    </ul>
</div>