<app-headerbar (newItemEvent)="searchBar($event)"></app-headerbar>

<h2 style="margin-left: 20px; margin-top: 25px;">&nbsp;Movies</h2>
<br>
<div>
  <div class="jumbotron">
    <!-- Filter Bar -->
    <div class="d-inline-block" style="margin-bottom: 1%; ">
      <div class="dropdown" style="display: inline; margin-right:1rem">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="watchedDropDown" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          All Movies:
        </button>
        <div class="dropdown-menu border-secondary" aria-labelledby="watchedDropDown">
          <a class="dropdown-item" (click)="setFilterStatus('filterWatched', 'hasWatched')">Watched</a>
          <a class="dropdown-item" (click)="setFilterStatus('filterWatched', 'notWatched')">Not Watched</a>
          <a class="dropdown-item" (click)="setFilterStatus('filterWatched', undefined)">Both</a>
        </div>
      </div>
      <div class="dropdown" style="display: inline;">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="watchedDropDown" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Sort:
        </button>
        <div class="dropdown-menu border-secondary" aria-labelledby="watchedDropDown">
          <a class="dropdown-item" (click)="setSortByName('title', 'asc')">Title: Ascending</a>
          <a class="dropdown-item" (click)="setSortByName('title', 'desc')">Title: Descending</a>
          <a class="dropdown-item" (click)="setSortByName('AFI100LaughsRank', 'asc')">AFI Laughs: Ascending</a>
          <a class="dropdown-item" (click)="setSortByName('AFI100LaughsRank', 'desc')">AFI Laughs: Descending</a>
        </div>
      </div>
      <button class="btn btn-outline-secondary" style="margin-left: 1rem;" (click)="clearFilters()">Clear</button>

    </div><!-- !filterBar -->

    <!-- Card Stack -->
    <div class="card-deck" style="justify-content: left">
      <div *ngFor="let m of movies | filter:{watched: filterWatched, title: filterTitle, year: filterYear, genres: filterGenres, director: filterDirector, writer: filterWriter, stars: filterStars} 
      | sort:sortDirection:sortByName">
        <app-movie-card [movie]="m"></app-movie-card>
      </div>
    </div> <!-- !cardStack -->
  </div>
</div>