<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">laughtrack</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Dashboard<span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">Movies</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/?watched=hasWatched">Watched</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Reports">Reports</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Add">+ Movie</a>
            </li>

        </ul>

        <div class="form-group  my-2 my-lg-0">
            <div class="input-group">
                <input type="text" class="form-control" style="justify-content: right;" (keyup.enter)="search($event)"  placeholder="Search for title" aria-label="Search"
                id="searchInput" [(ngModel)]="searchInput" name="searchInput">
                <div class="input-group-append"  style="margin-top: 1px; margin-bottom: 1px;">
                    <button class="input-group-text bg-light"  type="submit" (click)="search($event)"><i class="fas fa-search"></i></button>
                </div>
            </div>
        </div>

    </div>
</nav>